.title {
  color: $peacock-blue;
  margin-bottom: 2rem;
}
.tribes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and(min-width: $min-width) {
    justify-content: start;
    a {
      margin-right: 3rem;
    }
  }
}
